body {
    font-family: Arial,sans-serif;
    height: auto;
    width: auto;
    background-color: #FDFEFE;
    margin: auto;
    padding: 20px;
}

hr {
    border: 0.1px  solid Gainsboro;
}

img {
  margin-left:20%;
  margin-right: 10%;
}

p {
  font-weight: bold;
  font-size: 8px;
}

h1 h2 h3 h4 h5 h6{
  font-weight: bold;
  font-size: 10px;
}

}

box1 {
    background-color: #FDFEFE;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px hsla(9, 100%, 64%, 0);
    max-width: 600px;
    margin: auto;
    transition: transform 0.3s;
}

.box1:hover {
    transform: scale(1.02);
}

.cpb {
    background-color: #f8f8f8;
    color:DeepSkyBlue;
    width:  100%;
    height: 50px;
    border: 1px solid #00BFFF;
    padding: 1px 1px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s, transform 0.3s;
}

.cpb:hover {
    background-color: #f8f8f8;
    transform: scale(1.05);
}

.a1 {
    background-color: #FDFEFE;
    color:DeepSkyBlue;
    font-size: 12px;
}

.inp {
    width: 85%;
    padding: 10px;
    margin-bottom: 0px;
    border: 1px solid #ccc;
    border-radius: 0px;
    margin: auto;
}

.btn1, .btn2 {
    width: 85%;
    height: 50px;
    padding: 10px 15px;
    border-radius:45px;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: background 0.3s, transform 0.3s;
}

.btn1 {
    background-color: #27A2FA;
    color: white;
}

.btn1:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.btn2 {
    background-color: #FD7320;
    color: white;
}

.btn2:hover {
    background-color: #FF8000;
    transform: scale(1.05);
}

.notification {
  width: 100%;
  position: fixed;
  top: 20px;
  left: 50%;
  right: 50%;
  text-align: center;
  transform: translateX(-50%);
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  display: none;
  animation: slideIn 0.5s ease, fadeOut 0.5s ease 2.5s;
}
.notification.error {
  background-color: #FF5722;
}

@keyframes slideIn {
  from { opacity: 0; top: 10px; }
  to { opacity: 1; top: 20px; }
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}


@media only screen and (max-width: 600px) 
    .box1 {
        padding: 15px;
    }

    .btn1, .btn2, .cpb {
        width: 100%;
        margin: 5px 0;
        font-size: 16px;
    }

    .inp {
        width: 95%;
}




